// ---------- dimensions ----------

$gap: 36px;

// ---------- animations ----------

@keyframes sway {
    0% {
        transform: translate(0px, 0px);
    }
    50% {
        transform: translate(100px, 0px);
    }
    100% {
        transform: translate(0px, 0px);
    }
}

@keyframes float {
    0% {
        transform: translate(0px, 0px);
    }
    50% {
        transform: translate(0px, 30px);
    }
    100% {
        transform: translate(0px, 0px);
    }
}

@keyframes parallax-up {
    from {
        
    }
    to {

    }
}