// ---------- easing ----------

$ezpz: cubic-bezier(0.65, 0, 0.35, 1);

// ---------- dimensions ----------

$gap: 36px;

// ---------- animations ----------

@keyframes sway {
    0% {
        transform: translate(0px, 0px);
    }
    50% {
        transform: translate(100px, 0px);
    }
    100% {
        transform: translate(0px, 0px);
    }
}

@keyframes float {
    0% {
        transform: translate(0px, 0px);
    }
    50% {
        transform: translate(0px, 30px);
    }
    100% {
        transform: translate(0px, 0px);
    }
}

@keyframes parallax-up {
    from {
        
    }
    to {

    }
}

@keyframes move-left {
    from {
        background-position-x: 0;
    }
    to {
        background-position-x: 3150px;
    }
}

@keyframes preview-enter {
    from {
        transform: translate(64px, 0px);
    }
    to {
        transform: translate(0px, 0px);
    }
}

@keyframes preview-exit {
    from {
        transform: translate(0px, 0px);
    }
    to {
        transform: translate(-64px, 0px);
        opacity: 0;
    }
}

@keyframes fly-right {
    from {
        
    }
    to {

    }
}